<app-header></app-header>


<section class="width_page">
  <form action="">

    <label>Nombre de usuario / Email</label>
    <input type="text">

    <label>Contraseña</label>
    <input type="password">

    <input type="submit" value="Inicio sesion" class="btn">
  </form>

  <form action="" style="margin-top: 4rem;">
    <label>Nombre de usuario*</label>
    <input type="text">

    <label>Nombre*</label>
    <input type="text">

    <label>Apellidos*</label>
    <input type="text">

    <label>Email*</label>
    <input type="mail">

    <label>Contraseña*</label>
    <input type="password">

    <label>Confirma contraseña*</label>
    <input type="password">

    <label>Teléfono*</label>
    <input type="tel">

    <label>Fecha de nacimiento*</label>
    <input type="date">

    <label>Nacionalidad</label>
    <input type="text">

    <label>Género</label>
    <div>
      <label class="gender_choice"><input type="radio" name="gender" value="male"> Masculino</label>
      <label class="gender_choice"><input type="radio" name="gender" value="female"> Femenino</label>
      <label class="gender_choice"><input type="radio" name="gender" value="na"> Sin especificar</label>
    </div>

    <input type="submit" value="Registrar" class="btn">

  </form>
</section>

<app-footer></app-footer>