<div class="header">

  <div>
    <img src="../../assets/banner.jpj" alt="">
  </div>

  <div class="header-central">

    <a href="/blogs" class="header-field">BLOGS</a>

    <a href="/about-us" class="header-field">QUIENES SOMOS</a>

    <a href="/patreon" class="header-field">PATREON</a>

    <a href="/blog-admin" class="header-field">BLOG ADMIN</a>
  </div>

  <div>
    <a href="">
      <img src="../../assets/facebook.png" alt="">
    </a>
    <a href="">
      <img src="../../assets/instagram.png" alt="">
    </a>
    <a href="">
      <img src="../../assets/twitter.png" alt="">
    </a>
    <a href="">
      <img src="../../assets/tiktok.png" alt="">
    </a>

    <button routerLink="/identification">Inicio sesion</button>
  </div>

</div>