.cont {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.img-form-cont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #222222;
  font-weight: bolder;
}

.key-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: var(--beige);
  border: 1px solid var(--grey);
  border-radius: 10px;
  margin: 0 2.5rem;
  padding: 1rem 0;
}

p {
  margin: 1rem 1rem;
  color: var(--darkblue);
  font-size: large;
}

@media (max-width: 767px) {
  .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cont-3 {
    display: flex;
  }
}