<form action="" class="form">

  <input type="submit" value="Ver todas las palabras clave" class="btn" (click)="getAllBlogs()">

  <br>

  <!-- Imagen -->
  <label for="blogKeyword">Indica la palabra clave del blog:</label>
  <input type="text" id="blogKeyword" name="blogKeyword" [(ngModel)]="blogKeyword" required>

  <br>

  <input type="submit" value="Mostrar blog" class="btn" (click)="getBlogByKeyword()">


  <br>
  <br>
  <br>

  <label for="title">Título:</label>
  <input type="text" id="title" name="title" [(ngModel)]="title" required>


  <br>

  <!-- Descripción -->
  <label for="description">Descripción:</label>
  <textarea id="description" name="description" [(ngModel)]="description" required></textarea>


  <br>

  <!-- Botón de envío -->
  <input type="submit" value="Actualizar blog" class="btn" (click)="updateBlog()">


</form>