input {
  width: 50%;
  text-align: center;
  outline: none;
  border: 1px solid var(--darkblue);
  font-size: large;
}

input[type="submit"] {
  width: 150px;
  height: 30px;
}

.btn {
  background-color: var(--orange);
  color: var(--darkblue);
  font-weight: bold;

}