<form class="form">

  <legend>Contáctanos llenando los campos</legend>

  <div class="cont">

    <div class="cont-2">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" required>


      <label for="mail">Correo</label>
      <input type="text" id="mail" name="mail" [(ngModel)]="mail" required>
    </div>



    <label for="text">Mensaje</label>
    <textarea id="text" name="text" [(ngModel)]="text" required></textarea>


  </div>

  <!-- Botón de envío -->
  <input type="submit" value="Enviar" class="btn" (click)="postMail()">

</form>