<form class="formulario">
  <fieldset>
    <legend>Contactame llenando los campos</legend>

    <div class="container-fields">

      <!-- <div class="field">
        <div class="field">
          <label>Nombre</label>
          <input type="text" placeholder="Tu nombre">
        </div>
      </div> -->


      <div class="field">
        <label>Correo</label>
        <input class="input_text" type="email" placeholder="Mail">
      </div>

      <div class="field">
        <label>Mensaje</label>
        <textarea></textarea>
      </div>

    </div>

    <div class="filed-btn">
      <button class="button-send">Enviar</button>
    </div>

  </fieldset>
</form>