<form class="formulario">
  <fieldset>
    <legend>Contactame llenando los campos</legend>

    <div class="container-fields">

      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" required>


      <label for="mail">Correo</label>
      <input type="text" id="mail" name="mail" [(ngModel)]="mail" required>


      <label for="text">Mensaje</label>
      <textarea id="text" name="text" [(ngModel)]="text" required></textarea>


    </div>

    <!-- Botón de envío -->
    <input type="submit" value="Enviar" class="btn" (click)="postMail()">


  </fieldset>
</form>