<form action="" class="form">

  <!-- Keyword -->
  <label for="blogKeyword">Palabra clave del blog</label>
  <br>
  <input type="text" id="blogKeyword" name="blogKeyword" [(ngModel)]="blogKeyword" required>

  <br>

  <input type="submit" value="Mostrar blog" class="btn" (click)="getBlogByKeyword()">


  <br>
  <br>
  <br>

  <div *ngIf="blogCheck" class="cont-update">


    <label for="title">Título</label>
    <input type="text" id="title" name="title" [(ngModel)]="title" required>


    <br>

    <!-- Continente -->
    <label for="continent">Continente</label>
    <select id="continent" name="continent" [(ngModel)]="continent" required>
      <option value="america">América</option>
      <option value="Europa">Europa</option>
      <option value="Asia">Asia</option>
      <option value="africa">África</option>
      <option value="oceania">Oceanía</option>
    </select>

    <br>

    <!-- País -->
    <label for="country">País</label>
    <input type="text" id="country" name="country" [(ngModel)]="country" required>

    <br>

    <!-- Descripción -->
    <label for="description">Descripción</label>
    <textarea id="description" name="description" [(ngModel)]="description" required></textarea>

    <br>

    <!-- Días -->
    <label for="days">Días</label>
    <select id="days" name="days" [(ngModel)]="days" required>
      <option [value]="1">1</option>
      <option [value]="2">2</option>
      <option [value]="3">3</option>
      <option [value]="4">4</option>
      <option [value]="5">5</option>
      <option [value]="6">6</option>
      <option [value]="7">7</option>
      <option [value]="8">8</option>
      <option [value]="9">9</option>
      <option [value]="10">10</option>
    </select>

    <br>

    <!-- Fecha -->
    <label for="date">Fecha</label>
    <input type="date" id="date" name="date" [(ngModel)]="formatedDate" required>

    <br>

    <!-- Botón de envío -->
    <input type="submit" value="Actualizar blog" class="btn" (click)="updateBlog()">
  </div>
  <!-- Modal -->
  <div class="modal" [class.open]="isModalOpen" (click)="closeModal()">
    <div class="modal-content" (click)="preventClose($event)">
      <div class="modal-header">
        <h2>Estado actualización</h2>
        <span class="close" (click)="closeModal()">&times;</span>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <p>{{mensaje}}</p>
      </div>
    </div>
  </div>

</form>