<app-header></app-header>

<section class="filter-cont">
  <div>
    <label for="continentSelect">Continente: </label>
    <select id="continentSelect" name="continentSelect" [(ngModel)]="continentSelect" (change)="getBlogsByFilter()">
      <option value="Asia">Asia</option>
      <option value="Europa">Europa</option>
      <option value="Spain">Spain</option>
    </select>
  </div>
  <div>
    <label for="countrySelect">País: </label>
    <select id="countrySelect" name="countrySelect" [(ngModel)]="countrySelect" (change)="getBlogsByFilter()">
      <option *ngFor="let country of allCountries" [value]="country">{{ country }}</option>
    </select>
  </div>

  <div>
    <label for="daysSelect">Days: </label>
    <select id="daysSelect" name="daysSelect" [(ngModel)]="daysSelect" (change)="getBlogsByFilter()">
      <option *ngFor="let days of allDays" [value]="days">{{ days }}</option>
    </select>
  </div>

  <input type="submit" class="btn" (click)="resetFilters()" value="Reset filter">
</section>


<div class="all-blogs-cont">
  <div *ngFor="let blog of blogs; let i = index" class="blogs-cont">

    <a href="/blogs/{{ blog.keyword }}">{{ blog.title }}</a>
    <a href="/blogs/{{ blog.keyword }}">
      <img [src]="imageUrls[i]" alt="{{ imageName }}" />
    </a>


  </div>
</div>