<app-header></app-header>
<div *ngIf="blog" class="blog-cont">
  <h2>Titulo: {{ title }}</h2>
  <img [src]="imageUrl" alt="{{ keyword }}" />
  <h2>Descripcion: {{ description }}</h2>
</div>

<div class="blog-cont">
  <h2>Titulo: {{ sectionTitle }}</h2>
  <!-- <img [src]="imageUrl" alt="{{ keyword }}" /> -->
  <h2>Descripcion: {{ sectionDescription }}</h2>
</div>

<div *ngFor="let section of sections; let i = index">
  <h2>Titulo: {{ section.sectionTitle }}</h2>
  <!-- <img [src]="imageUrl" alt="{{ keyword }}" /> -->
  <h2>Descripcion: {{ section.sectionDescription }}</h2>
</div>

<footer>
  <app-footer></app-footer>
</footer>