img {
  width: 250px;
  height: 250px;

}

.blog-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sections-cont {
  margin: 30px;
}

.pre {
  white-space: pre;
}