img {
  width: 250px;
  height: 250px;

}

.blog-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pre-blog {
  font-size: 1.6rem;
  text-align: left;
  text-align: left;
}

.cont-sections {
  margin: 3rem;
}