<app-header></app-header>

<section class="hero-cont">
  <!-- <img src="../../assets/hero.jpg" alt="hero"> -->
  <p>
    Encantado de conocerte
  </p>
</section>

<h1>anuncio</h1>

<app-slider></app-slider>

<h1>Redes sociales / actualdiad</h1>

<app-contact-form></app-contact-form>

<section class="donation-cont">
  Contribuye con nostros a traves de donaciones
  <input type="button" value="DONACIONES">
  <a href="/patreon">
    <img src="../../assets/patreon_banner.png" alt="desc" width="100px">
  </a>
</section>


<!-- Subscripccion via mail -->
<section class="subscription-cont">
  <p>
    Mantente al día de nuestras novedades suscribiendote con tu mail!
    <br>
    Te actualizaremos cuando subamos un blog nuevo!
  </p>

  <form action="" class="form-subscription">
    <div class="email-cont">
      <input type="email" name="email" id="email" placeholder="Escribe tu mail">
      <input type="button" name="subscription" id="subscription" value="Suscribirse">
    </div>

    <div>
      <input type="checkbox" name="terms" id="terms">
      <label for="terms">He leído y aceptro la
        <a href="">política de privacidad</a>
      </label>
    </div>
  </form>

</section>


<footer>
  <app-footer></app-footer>
</footer>