<app-header></app-header>

<section class="about-cont">
  <img src="../../assets/hero_about_us.jpeg" alt="hero">
  <div class="about-text-cont">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet, leo in pharetra pretium, urna augue tempor
      tortor, id mollis odio ipsum sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at ipsum
      sodales, venenatis tortor quis, bibendum velit. Cras molestie ante nulla, id scelerisque ipsum efficitur nec.
      Praesent fringilla suscipit sodales. Donec fringilla suscipit diam quis efficitur. Nulla aliquet sagittis
      accumsan.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet, leo in pharetra pretium, urna augue tempor
      tortor, id mollis odio ipsum sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at ipsum
      sodales, venenatis tortor quis, bibendum velit. Cras molestie ante nulla, id scelerisque ipsum efficitur nec.
      Praesent fringilla suscipit sodales. Donec fringilla suscipit diam quis efficitur. Nulla aliquet sagittis
      accumsan.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet, leo in pharetra pretium, urna augue tempor
      tortor, id mollis odio ipsum sed est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at ipsum
      sodales, venenatis tortor quis, bibendum velit. Cras molestie ante nulla, id scelerisque ipsum efficitur nec.
      Praesent fringilla suscipit sodales. Donec fringilla suscipit diam quis efficitur. Nulla aliquet sagittis
      accumsan.
    </p>

  </div>
</section>

<app-footer></app-footer>