.cont {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}

label {
  margin: 1.3rem 0;
}

input {
  border: 0;
  border-bottom: 1px solid black;

}

input:focus {
  outline: #ffffff;
}

input[type=submit] {
  margin: 1rem 0;
  width: 150px;
  height: 30px;
}

input[type=submit]:hover {
  cursor: pointer;

}

.cont-btn {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: var(--orange);
  color: var(--darkblue);
  font-weight: bold;
  border: 1px solid var(--darkblue);
  font-size: 1.2rem;
}