<section class="width_page">
  <form action="">

    <label>Usuario / Email</label>
    <input type="text">

    <label>Contraseña</label>
    <input type="password">

    <input type="submit" value="Inicio sesion" class="btn">
  </form>

  <form action="" style="margin-top: 4rem;">
    <label>Usuario*</label>
    <input type="text" [(ngModel)]="username" name="username">

    <label>Nombre*</label>
    <input type="text" [(ngModel)]="name" name="name">

    <label>Apellido*</label>
    <input type="text" [(ngModel)]="surname" name="surname">

    <label>Email*</label>
    <input type="mail" [(ngModel)]="mail" name="mail">

    <label>Contraseña*</label>
    <input type="password" [(ngModel)]="password" name="password">

    <label>Confirma contraseña*</label>
    <input type="password" [(ngModel)]="passwrod2" name="password2">

    <label>Confirma admin*</label>
    <input type="password" [(ngModel)]="masterPassword" name="masterPassword">

    <input type="submit" value="Registrar" class="btn" (click)="postLogin()">

  </form>
</section>