<!-- <section class="cont">
  <div class="slider-wrapper">
    <div class="slider">
      <img id="slide-1" src="../../assets/slide1.png" alt="img1">
      <img id="slide-2" src="../../assets/slide2.png" alt="img2">
      <img id="slide-3" src="../../assets/slide3.png" alt="img3">
    </div>
  </div>

  <div class="slider-nav">
    <a href="#slide-1"> <img id="slide-1" src="../../assets/dot.jpg" alt="dot1"></a>
    <a href="#slide-2"><img id="slide-1" src="../../assets/dot.jpg" alt="dot2"></a>
    <a href="#slide-3"><img id="slide-1" src="../../assets/dot.jpg" alt="dot3"></a>
  </div>

</section> -->
<section class="cont">
  <div class="wrapper">
    <div class="wrapper-holder">
      <div id="slide-1" alt="img1"> </div>
      <div id="slide-2" alt="div2"> </div>
      <div id="slide-3" alt="img3"> </div>
    </div>
  </div>

  <div class="button-holder">
    <a href="#slide-1" class="button"></a>
    <a href="#slide-2" class="button"></a>
    <a href="#slide-3" class="button"></a>
    <a href="#slide-4" class="button"></a>
  </div>

</section>