<section class="cont">
  <div class="slider-wrapper">
    <div class="slider">
      <img id="slide-1" src="../../assets/slide1.png" alt="img1">
      <img id="slide-2" src="../../assets/slide2.png" alt="img2">
      <img id="slide-3" src="../../assets/slide3.png" alt="img3">
    </div>
  </div>

  <div class="slider-nav">
    <a href="#slide-1"> <img id="slide-1" src="../../assets/dot.jpg" alt="dot1"></a>
    <a href="#slide-2"><img id="slide-1" src="../../assets/dot.jpg" alt="dot2"></a>
    <a href="#slide-3"><img id="slide-1" src="../../assets/dot.jpg" alt="dot3"></a>
  </div>

</section>