<!-- <section>
  <div class="slider-cont">
    <div class="slide"><img src="../../assets/slide1.png" alt="img1"></div>
    <div class="slide"><img src="../../assets/slide2.png" alt="img"></div>
    <div class="slide"><img src="../../assets/slide3.png" alt="img3"></div>
    <div class="slide"><img src="../../assets/slide4.png" alt="img4"></div>
    <div class="slide"><img src="../../assets/slide5.png" alt="img5"></div>
    <div class="slide"><img src="../../assets/slide6.png" alt="img6"></div>
  </div>

  <div class="dot-cont">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</section> -->

<section class="cont">
  <div class="slider-wrapper">
    <div class="slider">
      <img id="slide-1" src="../../assets/slide1.png" alt="img1">
      <img id="slide-2" src="../../assets/slide2.png" alt="img2">
      <img id="slide-3" src="../../assets/slide3.png" alt="img3">
    </div>
    <!-- <div class="slider-nav">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
    </div> -->

  </div>


</section>